.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
}

.App-header {
  background-color: #131c31;
  height: 120px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
}

.modalTitle {
  max-width: 800px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modalText {
  width: 800px;
  height: 500px;
  overflow-x: auto;
}

.tweetsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tweet {
  width: 500px;
  height: 170px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  color: black;
  position: relative;
  margin: 15px 0;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.tweetHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 20px;
}

.tweetNameContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-left: 15px;
}

.tweetName {
  font-size: 15px;
  font-weight: bold;
}

.tweetScreenName {
  font-size: 14px;
  font-weight: 400;
  padding-left: 5px;
  color: #657786;
}

.tweetImg {
  border-radius: 50%;
  width: 48px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
}

.tweetContent {
  flex: 2;
  padding: 0 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlighted {
  background-color: #e4ff91;
}

.highlighted_wallet {
  background-color: #a9affd;
}

.highlighted_email {
  background-color: #a9fdd3;
}

.highlighted_phone {
  background-color: #ffdee4;
}


/**ArchiveTab***/
.archiveContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: 30px auto;
}

.archive {
  margin: 10px;
  padding: 10px;
  border-radius: 3px;
}

.archive:hover {
  background: rgba(255, 255, 255, 0.2);
}

.archive:hover .archiveName {
  color: blue;
}

.archiveName {
  padding: 5px;
  /*font-weight: bold;*/
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Helvetica', no-serif;
  color: gray;
  width: 150px;
  white-space: nowrap;
}


/*******/

/*table {
  width: 100%;
  border-collapse: collapse;
}*/



/*
	Side Navigation Menu V2, RWD
	===================
	License:
	https://goo.gl/EaUPrt
	===================
	Author: @PableraShow

 */

@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 1.42em;
  color:#A7A1AE;
  background-color:#1F2739;
}

h1 {
  font-weight: 300;
  line-height:1em;
  text-align: center;
  color: #4DC3FA;
}

h2 {
  font-weight: 300;
  text-align: center;
  display: block;
  line-height:1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 a {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
  text-decoration: none;
}

.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	  text-align: left;
	  overflow: hidden;
	  width: 80%;
	  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	  padding-bottom: 2%;
	  padding-top: 2%;
  padding-left:2%;
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: #323C50;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: #2C3446;
}

.container th {
	  background-color: #1F2739;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #464A52;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #FFF842;
  color: #403E10;
  font-weight: bold;

  box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
	  transition-duration: 0.4s;
	  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}
